<%- include("header") -%>
    <main class="main-container h-100 d-flex flex-column">
        <div class="d-flex flex-column">
            <%- include("title") -%>
                <h3 class="text-danger">There are no tasks to show</h3>
        </div>
    </main>
    <%- include("footer") -%>